*, *::before, *::after {
    box-sizing: border-box;
    font-family:'Montseratt', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #161e2f;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: large;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container {
    background-color: #209d5c;
    max-width: 80%;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px 2px;
}

img {
    width: 100px;
}
.submit-btn {
    margin: 5% 0 0 0;
    float: right;
    padding: 10px 20px;
    color: white;
    background-color:#209d5c;
    border-color: #161e2f;
    border-radius: 5px;
}

.submit-btn:hover {
    margin: 5% 0 0 0;
    float: right;
    padding: 10px 20px;
    color: white;
    background-color: #161e2f;
    border-color: #161e2f;
    border-radius: 5px;
}

.submit-btn:active {
    margin: 5% 0 0 0;
    float: right;
    padding: 10px 20px;
    color: white;
    background-color: #161e2f;
    border-color: #209d5c;
    border-radius: 5px;
}


input {
    transition:cubic-bezier(0.55, 0.055, 0.675, 0.19);
    margin: 5px 20px 0 20px;
    padding: 10px;
    font-size: x-large;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

label {
    margin: 5px 20px 0 20px;
}

p {
    font-weight: bolder;
    font-size: x-large;
}

.form-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.horizontal-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;

}
