*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    text-align: center;
}

img {
    width: 50%;
    margin: 0 0 100px 0;
}

label {
    font-weight: light;
}

input {
    padding: 20px 40px;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.textContainer {
    margin: 0 auto;
    max-width:700px;
    text-align: center;
}

.start-body {
    padding: 3%;
    border-bottom:solid 1px #161e2f
}

#question {
    font-weight: bold;
    font-size: x-large;
}

.btn-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    margin: 10px 0 20px 0;
}

.btn {
    font-size: large;
    margin: 1%;
    width: 80%;
    max-width: 600px;
    text-decoration: none;
    background-color: #161e2f;
    border: 1px solid #161e2f;
    color: #fff;
    border-radius: 10px;
    padding: 40px 3%;
    transition: font-size .5s;
    transition-timing-function: ease-in-out;
}

.btn:hover {
    border: 2px solid #161e2f;
    background-color: transparent;
    color: #161e2f;
    font-size: medium;
}

.btn:focus {
    border: 3px solid #209d5c;
    background-color: #209d5c;
    font-size: medium;
}

.controls {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.disabled {
    opacity: 50%;
}

.next-btn {
    background-color: #209d5c;
    border-color:#209d5c;
}

.hide {
    display: none;
}

.transparent {
    opacity: 0%;
}


.question {
    font-size: 150%;
    padding: 10% 10% 5% 10%;
}

.progress-bar {
    width: 50%;
    margin: 0 0 50px 0;
    border: solid 5px #161e2f;
    border-radius: 5px;
}

#progress {
    width: 33%;
    border: solid 5px #209d5c;
    transition: width 2s;
    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
}

.submit-btn {
    margin: 0 auto;
    text-align: center;

}

.continueContainer {
    display: flex;
    justify-content: center;
}