*, *::before, *::after {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #161e2f;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: large;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container {
    width: 800px;
    background-color: #209d5c;
    max-width: 80%;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    text-align: center;
}

img {
    width: 100px;
}
.submit-btn {
    padding: 10px 20px;
    color: white;
    background-color: #161e2f;
    border-color: #161e2f;
    border-radius: 5px;
}

input {
    transition:cubic-bezier(0.55, 0.055, 0.675, 0.19);
    margin: 30px 0 0 0;
    padding: 10px;
    font-size: x-large;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

p {
    font-weight: bolder;
    font-size: x-large;
}