*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(32,157,92);
background: linear-gradient(183deg, rgba(32,157,92,1) 0%, rgba(50,172,109,1) 40%, rgba(22,30,47,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100VW;
    height: 100vh;
    padding: 0 10%;
    text-align: center;
    background: rgb(32,157,92);
    background: linear-gradient(183deg, rgba(32,157,92,1) 0%, rgba(50,172,109,1) 40%, rgba(22,30,47,1) 100%);
}

#question {
    font-weight: bold;
    font-size: x-large;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    font-size: regular;
    background-color: #161e2f;
    border: 1px solid #161e2f;
    color: #fff;
    border-radius: 10px;
    padding: 30px 10px;
    transition: font-size .5s;
    transition-timing-function: ease-in-out;
}

.btn:hover {
    border: 1px solid #209d5c;
    font-size: medium;
}

.btn:focus {
    border: 3px solid #209d5c;
    font-size: medium;
}

.start-btn {
    width: 80%;
    font-size: x-large;
    font-weight: regular;
    transition: width .5s;
    transition-timing-function: ease-in-out;
}

.start-btn:hover {
    width: 85%;
    font-size: x-large;
}

.arrow {
    width: 15%;
}

.controls {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.hide {
    display: none;
}


.question {
    font-size: 150%;
    padding: 10%;
}

.progress-bar {
    width: 100%;
    border: solid 5px #161e2f;
    border-color: linear-gradient(270deg, rgba(32,157,92,1) 0%, rgba(72,92,134,1) 45%, rgba(22,30,47,1) 100%);
    border-radius: 5px;
    transition: width 2s;
    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
}



